#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Kiran Display Tool
Name[zh_CN]=kiran-display-tools.desktop
Comment=kiran display tool
Comment=Kiran显示器配置
Exec=/usr/bin/kiran-display-tool
Icon=preferences-desktop-display
Terminal=false
Type=Application
Categories=Lightdm;Greeter;Core;Settings;System;X-Common-Features;X-Common-Features;
X-KIRAN-NoDisplay=true
