[Desktop Entry]
Name=module01
Name[zh_CN]=密码
Comment=password settings描述
Comment[zh_CN]=密码描述
Icon=avatar-default
Weight=2
Category=Individuation
PluginFile=/usr/lib/libmodule01.so
