[Desktop Entry]
Name=accounts2
Name[zh_CN]=账户设置2
Comment=manage user accounts2
Comment[zh_CN]=管理用户账户2
Icon=emblem-photos2
Weight=3
Keywords=11,22,33,账户2
