#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Kiran Cpanel Mouse
Name[zh_CN]=鼠标设置
Comment=Kiran Cpanel Mouse
Comment[zh_CN]=设置鼠标首选项
Exec=kiran-cpanel-launcher --cpanel-plugin=kiran-cpanel-mouse
Icon=kcp-mouse
Terminal=false
Type=Application
X-KIRAN-NoDisplay=true

Categories=GTK;Settings;HardwareSettings;X-Hardware;
StartupNotify=true

[Kiran Control Panel Plugin]
#插件排序
Weight=1
#插件分类
Category=hardware
#插件共享库位置，若以'/'开头则为绝对路径，也可支持通过共享库名去插件安装目录去查找
Library=libkiran-cpanel-mouse.so
SubItems=MouseSettings,TouchPadSettings

[MouseSettings]
#插件子项名 该值提供给控制中心形成子项列表
Name=Mouse Settings
Name[zh_CN]=鼠标设置
#插件Icon
Icon=@ICON_DIR@/mouse.svg
#插件关键字 该值提供给控制中心形成搜索列表
Keywords[zh_CN]=鼠标
Keywords=mouse

[TouchPadSettings]
#插件子项名 该值提供给控制中心形成子项列表
Name=TouchPad Settings
Name[zh_CN]=触摸板设置
#插件Icon
Icon=@ICON_DIR@/touchpad.svg
#插件关键字 该值提供给控制中心形成搜索列表
Keywords[zh_CN]=触摸板
Keywords=touchPad
