[Desktop Entry]
Name=Regional Language
Name[zh_CN]=区域语言
Comment=Regional Language
Comment[zh_CN]=区域语言
Icon=regional-language.png
Weight=5
Keywords=区域语言
