[Desktop Entry]
Name=Fonts2
Name[zh_CN]=字体2
Comment=font settings2
Comment[zh_CN]=系统字体设置2
Icon=avatar-default
Keywords=font,appearance,personalize
Weight=2
Category=accounts
PluginFile=/root/kiran-control-panel/example/build-mode01-Desktop_Qt_5_9_1_GCC_64bit-Debug/libmode01.so
