[Desktop Entry]
Name[zh_CN]=时间和日期管理
Name=Time And Date Manager
Comment[zh_CN]=设置本地系统的时间和日期
Comment=Setting the time and date of the local system
Terminal=false
Type=Application
Exec=kiran-timedate-manager
Icon=preferences-system-time
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-System-Server;X-Common-Features;
Keywords=mate-control-center;MATE;clock;date;time;preferences;
OnlyShowIn=MATE;
X-KIRAN-NoDisplay=true
