[Desktop Entry]
Name=module01
Name[zh_CN]=密码
Comment=password settings描述
Comment[zh_CN]=密码描述
Icon=avatar-default
Weight=2
Category=accounts
PluginFile=/root/kiran-control-panel/example/build-module01-5_11_1-Debug/libmodule01.so
