[Desktop Entry]
Name=About System
Name[zh_CN]=关于系统
Comment=About System
Comment[zh_CN]=关于系统
Icon=about-system.png

[Kiran Control Panel Category]
Category=about-system
Weight=10
Keywords[zh_CN]=关于系统
Keywords=About System