[Desktop Entry]
Name=About Systems
Name[zh_CN]=关于系统
Comment=About Systems
Comment[zh_CN]=关于系统
Icon=about-systems.png

[Kiran Control Panel Category]
Category=about-system
Weight=10
Keywords[zh_CN]=关于系统
Keywords=About Systems