[Desktop Entry]
Name=Account Management
Name[zh_CN]=账户管理
Comment=Account Management
Comment[zh_CN]=账户管理
Icon=account-management.png

[Kiran Control Panel Category]
Category=account-management
Weight=6
Keywords[zh_CN]=账户管理
Keywords=Account Management