[Kiran Control Panel Category]
Category=account-management

Name=Account Management
Name[zh_CN]=帐户

Comment=Account Management
Comment[zh_CN]=帐户管理

Icon=account-management.png

Weight=6

Keywords[zh_CN]=帐户
Keywords=Account Management