[Kiran Control Panel Category]
Category=display

Name=Display
Name[zh_CN]=显示

Comment=Display
Comment[zh_CN]=显示

Icon=display.png

Weight=2

Keywords[zh_CN]=显示
Keywords=Display