[Kiran Control Panel Category]
Category=individuation

Name=Individuation
Name[zh_CN]=个性化

Comment=Individuation
Comment[zh_CN]=个性化

Icon=individuation.png

Weight=1

Keywords[zh_CN]=个性化
Keywords=Individuation