[Kiran Control Panel Category]
Category=login-settings

Name=Login Settings
Name[zh_CN]=登录设置

Comment=Login Settings
Comment[zh_CN]=登录设置

Icon=login-settings.png

Weight=7

Keywords[zh_CN]=登录设置
Keywords=Login Settings