[Kiran Control Panel Category]
Category=network

Name=Network
Name[zh_CN]=网络

Comment=Network
Comment[zh_CN]=网络

Icon=network.png

Weight=3

Keywords[zh_CN]=网络
keywords=Network