[Kiran Control Panel Category]
Category=timedate

Name=TimeDate
Name[zh_CN]=日期时间

Comment=TimeDate
Comment[zh_CN]=日期时间

Icon=timedate.png

Weight=4

Keywords[zh_CN]=日期时间
Keywords=timedate